/* Untuk Tablet */
@media (max-width: 800px) {
  header {
    width: 100%;
  }

  .welcome-page a {
    margin: 0px -110px px 120px;
  }

  .welcome-page h1 {
    margin: 0px 0px 0px 0px;
    padding: 70px 0px 0px 120px;
  }


  .project {
    width: 100%;
  }

  .projects {
    margin-left: 5px;
  }

  .header-right {
    display: none;
  }

  .about p {
    margin-left: -120px;
    margin-right: -120px;
  }

  .about h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    margin-bottom: -10px;
    margin-left: 35px;
  }

  .form input {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 50%;
    height: 40px;
    border: 2px solid black;
  }

  .footer-contact{
  padding-right: 30px;
  }

  .material-symbols-outlined {
    color: black;
    float: right;
    padding: 15px 15px 20px 15px;
  }
  
  .material-symbols-outlined:hover {
    color: whitesmoke;
    background-color: black;
  }
}

/* Untuk Smartphone */
@media (max-width:600px) {
  
  header {
    width: 100%
  }

  .header-right {
    display: none;
  }

  .welcome-page {
    height: 21%;
    width: 99.5%
  }

  .welcome-page h1 {
    font-size: 50px;
    margin-bottom:240px;
    margin-left: -150px;
  }

  .welcome-page a {
    margin-left: -150px;
  }
   
  .project-wrapper h2 {
    margin-left: -10px;
  } 

  .project {
    width: 100%;
  }

  .projects {
    margin-left: -2px;
    margin-right: 2px;
  }

  .enjoy {
    margin-bottom: -120px;
  }

  .about p {
    margin-left: -158px;
    margin-right: -10px;
    padding-bottom: -200px;
  }

  .about h3 {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: -150px;
    padding-right: 100px;
  }

  .about img {
    margin-left: -160px;
  }

  .form input {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 85%;
    height: 40px;
    border: 2px solid black;
  }

  .footer-contact{
    padding: 0px -100px 0px 0px;
    margin: -80px 0px 0px -100px;
  }

  .title-foot {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.7;
    padding-top: -20px;
  }
  
  .desc-foot {
    font-size: 10px;
    opacity: 0.7;
    padding-left: 3px;
  }

  .material-symbols-outlined {
    color: black;
    float: right;
    padding: 15px -15px 20px 15px;
  }
  
  .material-symbols-outlined:hover {
    color: whitesmoke;
    background-color: black;
  }

}
